body {
    font-family: 'Montserrat';
}

#container_domanda {
    height: 5rem;
    display: flex;
    justify-content: center;
}
#info{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, auto));
    grid-auto-rows: minmax(100px, auto);
    justify-items: center;
    margin-top: 2rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
}
#risposte_giocatori {
    padding-top: 1rem;
}
.risposte {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, auto));
    grid-auto-rows: minmax(100px, auto);
    gap: 0.5rem;
    margin: 0.5rem;
    color: white;
}

#risposta1{
    background-color: rgb(208, 53, 66);
    margin: auto;    
    height: 6rem;
    width: 96%;
    font-size: 20px;
    display: flex;
    border-radius: 4.6px;
}
#risposta1 > img {
   position: relative;
   bottom: 2.5px;
   right: 3px;
   
}

#risposta2{
   background-color: rgb(48, 102, 199);
    margin: auto;    
    height: 6rem;
    width: 96%;
    font-size: 20px;
    display: flex;
    border-radius: 4.6px;
}

#risposta2 > img {
   position: relative;
   bottom: 0.8px;
   right: 2px;
   
}
#risposta3{
    background-color: rgb(207, 160, 54);
    margin: auto;    
    height: 6rem;
    width: 96%;
    font-size: 20px;
    display: flex;
    border-radius: 4.6px;
}
#risposta3 > img {
   position: relative;
   bottom: 1px;
   right: 1.5px;
   
}
#risposta4{
    background-color: rgb(69, 135, 41);
    margin: auto;    
    height: 6rem;
    width: 96%;
    font-size: 20px;
    display: flex;
    border-radius: 4.6px;
}
#risposta4 > img {
   position: relative;
   bottom: 1.6px;
   
}
.risposte span {
padding-top: 2.2rem;
padding-left: 1rem;
width: 100%;
}

#container_risultati {
    display: none;
    flex-direction: column;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
#container_immagini {
    display: flex;
    justify-content: center;
}
#container_immagini img {
    margin: 0px 4px;
}
[id*="num_risposta"] {
    width: 100px;
    margin: 4px 2px;
    font-weight: bolder;
    font-size: 22px;
    text-align: center;
    position: relative;
    top: -2rem;
}

.num_risp {
    margin: 2px 4px;
}

#num_risposta1 {
color: rgb(208, 53, 66);
}

#num_risposta2 {
color: rgb(48, 102, 199);
}

#num_risposta3 {
color: rgb(207, 160, 54);
}

#num_risposta4 {
color: rgb(69, 135, 41);
}

#container_grafico_num_risposte {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    color: white;
}
.rettangolo{
    border: none;
    display: none;
    margin: 0 2px;
    width: 100px;
    height: 0px;
    font-size: 20px;
}

#num_risp_red{
    background-color: rgb(208, 53, 66);
    
}
#num_risp_blue{
    background-color: rgb(48, 102, 199);
}
#num_risp_yellow{
    background-color: rgb(207, 160, 54);
}
#num_risp_green{
    background-color: rgb(69, 135, 41);
}

#prossima_domanda_Button{
    display: none;
    position: relative;
    left: 45%;
    height: 3rem;
    border-radius: 3px;
    background-color: rgb(48, 102, 199);
    color: white;


}

#num{
    font-size: 35px;
}

#podio {
    display: none;    
    position: relative;
    justify-content: space-between;
    left: 15%;
    width: 70%;
    background-color: rgb(126, 79, 185);
    color: white;
}
#medaglie {
    display: flex;
    flex-direction: column;
}
#medaglie img {
    width: 6rem;
    padding: 1rem;
}
#vincitori {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#punteggio {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-right: 1rem;
}
