body {
    font-family: 'Montserrat';
    background-color: rgb(64, 26, 137);
}
#container_info {
    margin-top: 10rem;
    text-align: center;
    color: white;
}
#info1 {
    padding: 1rem;
    font-size: 4rem;
    font-weight: bolder;
}
#info2 {
    padding: 1rem;
    font-size: 2rem;
    font-weight: bold;
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1.5rem 1rem;
    font-size: 2rem;
    font-weight: bolder;
    background-color: white;
    color: black;
}


